.bangla{
    font-family: "Tiro Bangla", serif;
}

@media (max-width: 650px){
    .studentRecordTable thead{
        display: none;
    }
    .studentRecordTable td{
        display: grid;
        gap: 5px;
    }
    
    .studentRecordTable td:before{
        content: attr(data-label);
        text-align: left;
    }
}